In [1]:
import pandas as pd
import numpy as np

In [2]:
true = pd.read_csv('True.csv')

In [3]:
true.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [4]:
fake = pd.read_csv('Fake.csv')

In [5]:
fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [6]:
true['label']=1

In [7]:
fake['label'] = 0

In [8]:
true.head()

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [9]:
news = pd.concat([fake, true],axis=0)

In [10]:
news.head()

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [11]:
news.tail()

,title,text,subject,date,label
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [12]:
news.isnull().sum()

title      0
text       0
subject    0
date       0
label      0
dtype: int64

In [13]:
news = news.drop(['title', 'subject', 'date'], axis=1)
news.head()

                                                text  label
0  Donald Trump just couldn t wish all Americans ...      0
1  House Intelligence Committee Chairman Devin Nu...      0
2  On Friday, it was revealed that former Milwauk...      0
3  On Christmas day, Donald Trump announced that ...      0
4  Pope Francis used his annual Christmas Day mes...      0

In [14]:
news = news.sample(frac=1)     #Reshuffling

In [15]:
news.head()

                                                    text  label
8391   Democratic presidential candidate Martin O Mal...      0
18686  DAR ES SALAAM (Reuters) - Tanzania shut down a...      1
3174   WASHINGTON (Reuters) - California and other st...      1
13042  BEIRUT (Reuters) - Iran s foreign ministry den...      1
12349  The former CEO of a local cybersecurity firm i...      0

In [16]:
news.reset_index(inplace=True)

In [17]:
news.head()

   index                                               text  label
0   8391  Democratic presidential candidate Martin O Mal...      0
1  18686  DAR ES SALAAM (Reuters) - Tanzania shut down a...      1
2   3174  WASHINGTON (Reuters) - California and other st...      1
3  13042  BEIRUT (Reuters) - Iran s foreign ministry den...      1
4  12349  The former CEO of a local cybersecurity firm i...      0

In [18]:
news.drop(['index'],axis=1, inplace = True)

In [19]:
news.head()

                                                text  label
0  Democratic presidential candidate Martin O Mal...      0
1  DAR ES SALAAM (Reuters) - Tanzania shut down a...      1
2  WASHINGTON (Reuters) - California and other st...      1
3  BEIRUT (Reuters) - Iran s foreign ministry den...      1
4  The former CEO of a local cybersecurity firm i...      0

In [20]:
import re               #Regular expression module

In [21]:
def wordopt(text):
    text = text.lower()                                  # for lower case conversion
    
    text = re.sub(r'https?://\S+|www\.\S+','',text)      # to remove urls, sub- substitute
    
    text = re.sub(r'<.*?>', '', text)                    # to remove HTML tags
    
    text = re.sub(r'[^\w\s]', '', text)                  # to remove punctuation
    
    text = re.sub(r'\d', '', text)                       # to remove digits
    
    text = re.sub(r'\n', ' ', text)                      # to remove newline characters
                  
    return text

In [22]:
news['text'] = news['text'].apply(wordopt)

In [23]:
news['text']

0        democratic presidential candidate martin o mal...
1        dar es salaam reuters  tanzania shut down anot...
2        washington reuters  california and other state...
3        beirut reuters  iran s foreign ministry denied...
4        the former ceo of a local cybersecurity firm i...
                               ...
44893    washington reuters  us democratic presidential...
44894    a sick new  challenge  is going viral urging p...
44895    donald trump increasingly desperate as the ele...
44896    new york reuters  myanmar national security ad...
44897     welcoming a prolife promarriage leader at the...
Name: text, Length: 44898, dtype: object

In [24]:
x = news['text']
y = news['label']

In [25]:
x

0        democratic presidential candidate martin o mal...
1        dar es salaam reuters  tanzania shut down anot...
2        washington reuters  california and other state...
3        beirut reuters  iran s foreign ministry denied...
4        the former ceo of a local cybersecurity firm i...
                               ...
44893    washington reuters  us democratic presidential...
44894    a sick new  challenge  is going viral urging p...
44895    donald trump increasingly desperate as the ele...
44896    new york reuters  myanmar national security ad...
44897     welcoming a prolife promarriage leader at the...
Name: text, Length: 44898, dtype: object

In [26]:
y

0        0
1        1
2        1
3        1
4        0
        ..
44893    1
44894    0
44895    0
44896    1
44897    0
Name: label, Length: 44898, dtype: int64

In [27]:
from sklearn.model_selection import train_test_split

In [28]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.4)

In [29]:
x_train.shape

(26938,)

In [30]:
x_test.shape

(17960,)

In [31]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [32]:
vectoriztion = TfidfVectorizer()

In [33]:
xv_train = vectoriztion.fit_transform(x_train)

In [34]:
xv_test = vectoriztion.transform(x_test)

In [35]:
xv_train

<26938x161386 sparse matrix of type '<class 'numpy.float64'>'
	with 5543308 stored elements in Compressed Sparse Row format>

In [36]:
xv_test

<17960x161386 sparse matrix of type '<class 'numpy.float64'>'
	with 3619390 stored elements in Compressed Sparse Row format>

In [37]:
from sklearn.linear_model import LogisticRegression    #ML algorithem for classification

In [38]:
LR = LogisticRegression()

In [39]:
LR.fit(xv_train, y_train)

LogisticRegression()

In [40]:
pred_lr = LR.predict(xv_test)

In [41]:
LR.score(xv_test, y_test)

0.986358574610245

In [43]:
print(classification_report(y_test, pred_lr))

NameError: name 'classification_report' is not defined

In [44]:
from sklearn.tree import DecisionTreeClassifier     #ML algorithem for classification

In [45]:
DTC = DecisionTreeClassifier()

In [46]:
DTC.fit(xv_train, y_train)

DecisionTreeClassifier()

In [47]:
pred_dtc = DTC.predict(xv_test)

In [48]:
DTC.score(xv_test, y_test)

0.9961024498886414

In [59]:
from sklearn.metrics import classification_report

print(classification_report(y_test, pred_dtc))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      9418
           1       1.00      1.00      1.00      8542

    accuracy                           1.00     17960
   macro avg       1.00      1.00      1.00     17960
weighted avg       1.00      1.00      1.00     17960

In [65]:
from sklearn.ensemble import RandomForestClassifier   #ML algorithem for classification

In [64]:
rfc = RandomForestClassifier()

In [62]:
rfc.fit(xv_train, y_train)

RandomForestClassifier()

In [63]:
predict_rfc = rfc.predict(xv_test)

In [56]:
rfc.score(xv_test, y_test)

0.9889198218262806

In [66]:
print(classification_report(y_test, predict_rfc))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      9418
           1       0.98      0.99      0.99      8542

    accuracy                           0.99     17960
   macro avg       0.99      0.99      0.99     17960
weighted avg       0.99      0.99      0.99     17960

In [5]:
from sklearn.ensemble import GradientBoostingClassifier

In [6]:
gbc = GradientBoostingClassifier()

In [7]:
gbc.fit(xv_train, y_train)

NameError: name 'xv_train' is not defined

In [8]:
pred_gbc = gbc.predict(xv_test)

NameError: name 'xv_test' is not defined

In [9]:
gbc.score(xv_test, y_test)

NameError: name 'xv_test' is not defined

In [ ]:
def output_label(n):
    if n==0:
        return "It is a Fake News"
    elif n == 1:
        return "It is Genuine News"

In [ ]:
def manual_testing(news):
    testing_news = {"test": [news]} 
    new_def_test = pd.DataFrame(testing_news)
    new_def_test['text'] = new_def_test['text'].apply(wordopt)
    new_x_test = new_def_test['text']
    new_xv_test = vectorization.transform(new_x_test)
    pred_lr = LR.predict(new_xv_test)
    pred_gbc = gb.predict(new_xv_test)
    pred_rfc = rfc.predict(new_xv_test)
    return "\n\nLR Prediction: {} \nGBC Prediction: {} \nRFC Prediction: {}".format(output_label(pred_lr[0]), ouput_label(pred_rfc[0]))

In [ ]:
news_article = str(input())

In [ ]:
manual_testing(news_article)